---
import Section from './Section.astro';
---

<Section id="about">
  <div class="max-w-5xl mx-auto">
    <h2 class="mb-8 text-3xl font-bold">About</h2>
    <div class="flex flex-col items-center justify-between md:flex-row gap-8">
      <div class="w-full text-left md:w-1/2">
        <p class="my-4 text-lg md:text-xl">
           Electronic Engineer and Software Developer with over two years of experience in creating strong and scalable web applications. I am good at adapting to different projects and using agile methods to work with teams and deliver quality solutions. I have strong analytical and problem-solving skills, and I focus on best practices and clear communication.
        </p>
        <div class="flex justify-start space-x-6">
          <a
            href="https://github.com/angeeelvega"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-white hover:text-indigo-400"
          >
          </a>
          <a
            href="https://www.linkedin.com/in/angelvega1/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-white hover:text-indigo-400"
          >
          </a>
          <a
            href="https://www.instagram.com/yourusername"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-white hover:text-indigo-400"
          >
          </a>
        </div>
      </div>
      <div class="w-full md:w-1/2 flex justify-center md:justify-end">
        <img
          src="https://avatars.githubusercontent.com/u/72453759?v=4"
          alt="Ãngel Vega"
          class="h-64 w-64 rounded-lg object-cover"
        />
      </div>
    </div>
  </div>
</Section>

<script>
  // Manejo del efecto de intro
  const intro = document.getElementById('intro');
  if (intro) {
    setTimeout(() => {
      intro.style.display = 'none';
    }, 5000);
  }
</script> 