---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto bg-base-200 py-4">
  <div class="container mx-auto px-4 text-center">
    <p class="text-sm">
      © {currentYear} - Desarrollado con ❤️ por <a
        href="https://github.com/angeeelvega"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium hover:text-primary">Ángel Vega</a
      >
    </p>
  </div>
</footer> 